@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Страница не найдена";
}
<div class="jumbotron">
  <center>
    <h1>Страница не найдена</h1>
    <h3 class="text-danger">Ошибка 404</h3>
    <br />
    <p>Запрашиваемая Вами страница не найдена, попробуйте повторить попытку позднее.</p>
  </center>
  <hr style="clear: both;" />
  <p>
    Также Вы можете нажать кнопку <b>Назад</b> вашего браузера, чтобы перейти на предыдущую страницу.
    <b>Или вернуться на домашнюю страницу, нажав кнопку</b>
  </p>
  <center>
    <a href="@Url.RouteUrl(routeName: "SubdomainRoute", routeValues: new  RouteValueDictionary(new { action = "Index", controller = "Cafe", name = "" }), subdomain: true)" class="btn btn-lg btn-default text-uppercase"><i class="fa fa-home"></i> на главную</a>
  </center>
</div>
