@model Dictionary<FoodCategoryModel, List<ITWebNet.Food.Core.DataContracts.Common.FoodDishModel>>
<div id="menu-dishes" class="card">
  <div class="card-body">
    <div class="card-content">
      <div class="row">
        <h4 class="col-xs-8">Меню дня</h4>
        <button onclick="changeDirectionAllArrow($(this), '#schedule-dishes', '.toggle-group')" class="btn btn-default btn-toggle-groups col-xs-4" data-target="#schedule-dishes" state="1">
          <i class="fa fa-minus"></i>
          Свернуть все
        </button>
      </div>
      <div id="schedule-dishes">
        @foreach (var item in Model)
        {
            <div class="panel panel-default" data-category="@item.Key.Id">
              <div class="panel-heading">
                <a onclick="changeDirectionArrow($(this))" role="button" class="toggle-group" 
                   data-toggle="collapse" data-target="#cat-@item.Key.Id" 
                   aria-expanded="true" aria-controls="cat-@item.Key.Id">
                  <h4>
                    <i class="fa fa-expander"></i>
                    @item.Key.Name
                  </h4>
                </a>
              </div>
              <ul id="cat-@item.Key.Id" class="list-group collapse in">
                @foreach (var dish in item.Value)
                {
                    @await Html.PartialAsync("_Dish", dish)
                }
              </ul>
            </div>
        }
      </div>
    </div>
  </div>
</div>