<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="approveModal-label">Подтверждение действия</h4>
            </div>
            <div class="modal-body">
                <p>Такой шаблон уже существует. Заменить?</p>
            </div>
            <div class="modal-footer">
                <button onclick="saveMenu(true)" class="btn btn-default">
                    Да
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>

