@model FilterObjects

@{
    ViewBag.Title = "Теги";
}

<div class="main wide-rigth content">
    @using (Html.AjaxBeginForm("GetObjects", "Tags", new AjaxOptions() { UpdateTargetId = "objectGrid" }))
    {
    @Html.TextBoxFor(m => m.SearchString, new {@class = "form-control" })
    <input type="submit" value="Поиск" class="btn btn-default" />
        <div class="row">
            <div id="objectGrid" class="col-xs-6">
                @await Html.PartialAsync("_ListObjects", Model)
            </div>
            <div id="destTagGrid" class="col-xs-6">
                @Url.Action("GetTags", "Tags", new { @id = Model.CafeId, objectType = ObjectTypesEnum.CAFE })
            </div>
    </div>
    @Html.HiddenFor(m => m.CafeId)
    }
</div>
