@model IEnumerable<ITWebNet.Food.Core.DataContracts.Common.CompanyOrderModel>
<div class="panel panel-default">
    <table class="table responsive display no-wrap table-striped table-hover table-bordered" id="company-orders">
        <thead>
            <tr>
                <th>Ид</th>
                <th>Кафе</th>
                <th>Время открытия заказа</th>
                <th>Время закрытия заказа</th>
                <th>Время доставки</th>
                <th>Сумма заказа</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <br/>
</div>
