<div class="head">
    <h3>Пользовательское соглашение</h3>
</div>
<ol>
    @await Html.PartialAsync("~/Views/Info/Agreement/_General.cshtml")
    @await Html.PartialAsync("~/Views/Info/Agreement/_Subject.cshtml")
    @await Html.PartialAsync("~/Views/Info/Agreement/_Services.cshtml")
    @await Html.PartialAsync("~/Views/Info/Agreement/_Registration.cshtml")
    @await Html.PartialAsync("~/Views/Info/Agreement/_RightsAndDuties.cshtml")
    @await Html.PartialAsync("~/Views/Info/Agreement/_MaterialsTerms.cshtml")
    @await Html.PartialAsync("~/Views/Info/Agreement/_Responsibility.cshtml")
    @await Html.PartialAsync("~/Views/Info/Agreement/_Confidentiality.cshtml")
    @await Html.PartialAsync("~/Views/Info/Agreement/_FinalPositions.cshtml")
</ol>
