@{
    ViewBag.Title = "О компании";
}

<div class="main content wide center">
    <div class="card">
        <div class="card-body">
            <div class="card-content">
                <h4>О нас</h4>
                <p>
                    <b>edovoz.com</b> – проект по заказу еды пользователями города Кирова. На едином портале можно выбрать и заказать блюда из различных кафе, ресторанов и столовых, и Вам их доставят в удобное для Вас время.
                </p>
                <p>
                    Для корпоративных клиентов реализован удобный функционал доставки обедов сотрудникам.
                </p>
                <p>
                    Все услуги edovoz.com для вас бесплатны!
                </p>
                <p>
                    Ваши преимущества:
                    <ul>
                        <li>Вы можете посмотреть актуальное меню любого кафе и заказать его на дом;</li>
                        <li>Вам больше не нужно знать телефоны, сайты и адреса ресторанов, все представлено на едином сайте в едином формате;</li>
                        <li>Все заказы после оформления моментально появляются на кухнях ресторанов;</li>
                        <li>Вы можете отслеживать статус заказа;</li>
                        <li>На сайте будут представлены различные акции и подарки от кафе и ресторанов;</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
