@{
    ViewBag.Title = "Контакты";
}

<div class="main content full-width center">
    <div class="card">
        <div class="card-body">
            <div class="card-content">
                <div class="row">
                    <div class="col-xs-8">
                        <h3>Контакты</h3>
                        <p>Общество с ограниченной ответственностью "АЙТИВЕБНЕТ"</p>
                        <p>ИНН 4345015750 КПП 434501001</p>
                        <p>Банк ОАО АКБ "АВАНГАРД"</p>
                        <p>к/с 30101810000000000201 БИК 044525201</p>
                        <p>р/с 40702810828100027852</p>
                        <p>Юридический и фактический адрес: 610002, г. Киров, ул. Урицкого, д. 24, офис ITWebNet</p>
                        <p>Skype: skype.itwebnet </p>
                        <p>E-mail: <a title="Написать письмо" href="mailto:office@itwebnet.ru">office@itwebnet.ru</a></p>
                        <p>Сайт: <a title="Посетить наш сайт" href="http://www.itwebnet.ru">www.itwebnet.ru</a></p>
                        <p>Twitter: <a href="https://twitter.com/ITWebNet">twitter.com/ITWebNet</a></p>
                    </div>
                    <div class="col-xs-4">
                        <iframe height="330" frameborder="0" width="100%" style="border: 0; float: right;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1039.5154766579144!2d49.6894444!3d58.59499999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTjCsDM1JzQyLjAiTiA0OcKwNDEnMjIuMCJF!5e0!3m2!1sru!2s!4v1433139076318"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>