@{
    ViewBag.Title = "Партнерам";
}

<div class="main content wide centered">
    <div class="card col-md-8">
        <div class="card-body">
            <div class="card-content">
                <h3>Информация для партнеров</h3>
                <p>Edovoz.com - лучшая интернет-площадка в г. Киров для выбора и доставки еды от разных поставщиков.</p>
                <p>Как работает наш сервис:</p>
                <ol>
                    <li>Пользователь выбирает любимые блюда</li>
                    <li>Вашей организации приходит уведомление о заказе</li>
                    <li>Ваш оператор перезванивает клиенту для подтверждения заказа</li>
                    <li>Вы доставляете клиенту еду и получаете деньги</li>
                    <li>После этого Вы перечисляете сервису процент за уже доставленный заказ</li>
                </ol>
                <p>Почему с нами выгодно работать?</p>
                <ul>
                    <li>Удобное и быстрое формирование меню</li>
                    <li>Предоставление отчетов</li>
                    <li>Вам не нужно тратить время и деньги на поиск клиентов</li>
                </ul>
                <p>Skype: skype.itwebnet </p>
                <p>E-mail: <a title="Написать письмо" href="mailto:office@itwebnet.ru">office@itwebnet.ru</a></p>
                <p>Сайт: <a title="Посетить наш сайт" href="http://www.itwebnet.ru">www.itwebnet.ru</a></p>
                <p>Twitter: <a href="https://twitter.com/ITWebNet">twitter.com/ITWebNet</a></p>
            </div>
        </div>
    </div>
</div>