@{
    ViewBag.Title = "Реферальная программа";
}

<div class="main content wide center">
    <div class="card">
        <div class="card-body">
            <div class="card-content">
                <h3>Реферальная программа</h3>
                <p>lorem ipsum</p>
                <p><a href="@Url.Action("ReferralProgramDescription", "Info")">Условия реферальной программы</a></p>
            </div>
        </div>
    </div>
</div>