@model ForgotPasswordModel

@{ ViewBag.Title = "Сброс пароля"; }

<div class="centered">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                    <div id="forgotForm">
                        @await Html.PartialAsync("_Forgot", Model)
                    </div>
                    <div class="wip" id="processIcon"><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Views/Scripts/jqueryval.cshtml")
