@model ResetPasswordModel

@{ ViewBag.Title = "Запрос на смену пароля"; }


<div class="centered">
    <div class="col-md-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                    <div id="resetForm">
                        @await Html.PartialAsync("_Reset", Model)
                    </div>
                    <div class="wip" id="processIcon"><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Views/Scripts/jqueryval.cshtml")
