@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("Less/fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    overflow-y: scroll;
}

body {
    display: flex;
    min-height: 100vh;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'PTSansRegular', sans-serif;
    color: #2f2a2c;
    background-color: currentColor;
}

main {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    padding: 130px 0 30px 0 !important;
    flex: 1 0 auto;
}

.darkened {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 1125px;
}

/*
 * Классы паддинга и марджинов из bootstrap 4. Взял те же значения паддинга и марджина
 * что и в бутстрапе, поэтому если проект перейдет на bs4 эти классы можно безопасно
 * удалить.
 */
.p-1 { padding: 0.25rem !important; }
.p-2 { padding: 0.5rem !important; }
.p-3 { padding: 1rem !important; }
.p-4 { padding: 1.5rem !important; }
.p-5 { padding: 3rem !important; }
.pl-1 { padding-left: 0.25rem !important; }
.pl-2 { padding-left: 0.5rem !important; }
.pl-3 { padding-left: 1rem !important; }
.pl-4 { padding-left: 1.5rem !important; }
.pl-5 { padding-left: 3rem !important; }
.pr-1 { padding-right: 0.25rem !important; }
.pr-2 { padding-right: 0.5rem !important; }
.pr-3 { padding-right: 1rem !important; }
.pr-4 { padding-right: 1.5rem !important; }
.pr-5 { padding-right: 3rem !important; }
.pb-1 { padding-bottom: 0.25rem !important; }
.pb-2 { padding-bottom: 0.5rem !important; }
.pb-3 { padding-bottom: 1rem !important; }
.pb-4 { padding-bottom: 1.5rem !important; }
.pb-5 { padding-bottom: 3rem !important; }
.pt-1 { padding-top: 0.25rem !important; }
.pt-2 { padding-top: 0.5rem !important; }
.pt-3 { padding-top: 1rem !important; }
.pt-4 { padding-top: 1.5rem !important; }
.pt-5 { padding-top: 3rem !important; }
.m-1 { margin: 0.25rem !important; }
.m-2 { margin: 0.5rem !important; }
.m-3 { margin: 1rem !important; }
.m-4 { margin: 1.5rem !important; }
.m-5 { margin: 3rem !important; }
.ml-1 { margin-left: 0.25rem !important; }
.ml-2 { margin-left: 0.5rem !important; }
.ml-3 { margin-left: 1rem !important; }
.ml-4 { margin-left: 1.5rem !important; }
.ml-5 { margin-left: 3rem !important; }
.mr-1 { margin-right: 0.25rem !important; }
.mr-2 { margin-right: 0.5rem !important; }
.mr-3 { margin-right: 1rem !important; }
.mr-4 { margin-right: 1.5rem !important; }
.mr-5 { margin-right: 3rem !important; }
.mb-1 { margin-bottom: 0.25rem !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.mb-3 { margin-bottom: 1rem !important; }
.mb-4 { margin-bottom: 1.5rem !important; }
.mb-5 { margin-bottom: 3rem !important; }
.mt-1 { margin-top: 0.25rem !important; }
.mt-2 { margin-top: 0.5rem !important; }
.mt-3 { margin-top: 1rem !important; }
.mt-4 { margin-top: 1.5rem !important; }
.mt-5 { margin-top: 3rem !important; }

footer {
    background-color: #222;
}

    footer .container {
        height: 100px;
        padding: 10px 60px;
    }

        footer .container a {
            color: #FFFFFF;
            display: block;
            text-decoration: none;
        }

            footer .container a:hover {
                color: #80b00c;
            }

        footer .container h4 {
            color: #FFFFFF;
        }

    footer .footer-copyright {
        margin-top: 15px;
    }

.scroll-top {
    display: none;
    position: fixed;
    bottom: 25px;
    left: 25px;
}

    .scroll-top.bottom {
        bottom: 150px;
    }

.btn-circle {
    color: #80b00c;
    background: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 6px;
    text-align: center;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.row [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.vcenter {
    height: 100%;
    position: static;
}

    .vcenter div,
    .vcenter span {
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.checkbox-inline {
    padding-left: 0;
}

    .radio-inline label,
    .checkbox-inline label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

.dish-info {
    display: flex;
    align-items: center;
}

.btn-back:hover {
    text-decoration: none;
}

.btn-search {
    background-color: #fff;
    color: #80b00c;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px 1px 1px 0;
}

    .btn-search:hover {
        background-color: lightgray;
        color: #80b00c;
        border-color: lightgray;
        border-style: solid;
        border-width: 1px 1px 1px 0;
    }

.btn-card-details {
    background-color: #f2bc29;
    width: 33px;
    color: #222;
    border-color: #f2bc29;
    font-size: 18px;
    padding: 3px 5px;
}

.btn-default {
    color: #fff;
    background-color: #80b00c;
    border-color: #80b00c;
}

.btn-danger {
    background-color: #df5963;
}

/*#region Social Login Buttons */

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

    .btn-social:hover,
    .btn-social:active {
        color: #fff;
    }

    .btn-social > :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}

    .btn-facebook:hover,
    .btn-facebook:active {
        background-color: #2d4373;
    }


.btn-vk {
    color: #fff;
    background-color: #587ea3;
    border-color: rgba(0, 0, 0, 0.2);
}

    .btn-vk:hover,
    .btn-vk:active {
        background-color: #466482;
    }


.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}

    .btn-google:hover,
    .btn-google:active {
        background-color: #c23321;
    }

.or-spacer {
    margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    position: relative;
}

    .or-spacer .mask {
        overflow: hidden;
        height: 20px;
    }

        .or-spacer .mask:after {
            content: '';
            display: block;
            margin: -25px auto 0;
            width: 100%;
            height: 25px;
            border-radius: 125px / 12px;
            box-shadow: 0 0 8px black;
        }

    .or-spacer span,
    .or-spacer-vertical span {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -35px;
        margin-top: -35px;
        border-radius: 100%;
        box-shadow: 0 2px 4px #999;
        background: white;
        line-height: 50px;
        font-style: normal;
        text-align: center;
        color: #999;
    }

.or-spacer-vertical {
    display: inline-block;
    margin-left: 50%;
    position: relative;
}

    .or-spacer-vertical .mask {
        overflow: hidden;
        width: 20px;
        height: 200px;
    }

    .or-spacer-vertical.left .mask:after {
        content: '';
        display: block;
        margin-left: -20px;
        width: 20px;
        height: 100%;
        border-radius: 12px / 125px;
        box-shadow: 0 0 8px black;
    }

/*#endregion */

.category .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading a,
.panel-heading a:active,
.panel-heading a:hover {
    color: currentColor;
    text-decoration: none;
}

.form-control:focus, .form-control:focus + div .btn {
    border-color: #80b00c;
    box-shadow: none;
}

.validation-summary-errors > ul {
    list-style: none;
    padding-left: 0;
}


.fa {
    width: 1em;
}

    .fa.fa-2_5x {
        font-size: 2.5em;
    }


.fa-cc-visa:before {
    color: #fff;
    background-color: #1A1F71;
}

.fa-cc-mastercard:before {
    color: #fff;
    background: -moz-linear-gradient(left, #cc0000 0, #cc0000 48%, #ff9900 52%, #ff9900 100%);
    background: -webkit-linear-gradient(left, #cc0000 0,#cc0000 48%,#ff9900 52%,#ff9900 100%);
    background: linear-gradient(to right, #cc0000 0,#cc0000 48%,#ff9900 52%,#ff9900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#ff9900',GradientType=1 );
}

.fa-money:before {
    color: #80b00c;
}

/*.fa.fa-refresh:hover {
        -moz-animation: fa-spin 2s linear;
        -o-animation: fa-spin 2s linear;
        -webkit-animation: fa-spin 2s linear;
        animation: fa-spin 2s linear;

    }*/

.navbar {
    height: 100px;
}

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }

.btn-default:active,
.btn-default:focus,
.btn-default:hover {
    color: #fff;
    background-color: #719b0b;
    border-color: #719b0b;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .btn-link {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus,
    .navbar-inverse .navbar-nav > li > a:active,
    .navbar-inverse .btn-link:hover,
    .navbar-inverse .btn-link:focus,
    .navbar-inverse .btn-link:active {
        color: #80b00c;
    }

.navbar-brand {
    float: none;
    height: 100%;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}

    .navbar-brand > img {
        display: block;
        height: 100%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        position: absolute;
        left: 50.7%;
        text-align: center;
    }

.navbar-btn {
    margin: 30px 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-form {
    padding: 0;
    margin: 30px 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .navbar-form label {
        padding-left: 1em;
        color: white;
    }

    .navbar-form .navbar-btn {
        margin: 0;
        padding: 10px 0;
    }

    .navbar-form .input-group {
        width: 270px;
    }

        .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
            width: 1%;
        }


.modal {
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #000;
    background-color: #f2bc29;
}

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left: 0;
        padding-right: 0;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-inline .input-group.input-daterange > .form-control {
    width: 100px;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*
 * Фикс для уползающего контента input[type="date"] если назначен класс .form-control
 * в фаерфоксе. https://bugzilla.mozilla.org/show_bug.cgi?id=1503427
 */
input[type="date"].form-control, input[type="time"].form-control,
input[type="datetime-local"].form-control, input[type="month"].form-control {
    line-height: initial;
}

/*
 * Отключение икноки с календарем в вебките и блинке.
 */
input::-webkit-calendar-picker-indicator { display: none; }

.dropdown {
    display: inline-block;
}

.content {
    background-color: rgba(245, 245, 247, 0.7);
    border-radius: 2px;
    float: left;
    display: inline-block;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

    .content:first-of-type {
        margin-left: 0;
    }

    .content:last-of-type {
        margin-right: 0;
    }

    .content.transparent {
        background-color: transparent;
        border-color: transparent;
        padding: 0;
    }


.right-side {
    width: 240px;
}

.left-side {
    padding: 0;
    width: 270px;
}

.main {
    width: 570px;
}

    .main.offset-left {
        margin-left: 290px;
    }

    .main.wide {
        width: 855px;
    }

    .main.wide-rigth {
        width: 825px;
    }

    .main.full-width {
        margin-left: 100px;
        width: 945px;
    }

    .main.center {
        margin-right: auto;
        margin-left: auto;
        float: none;
        display: block;
    }

.eula {
    max-height: 75vh;
    overflow-y: auto;
    text-align: justify;
}

    .eula h3,
    .eula p {
        text-indent: 2rem;
    }

    .eula .head {
        padding-bottom: 1em;
    }

    /*.eula .paragraph {
        counter-reset: counter;
    }

        .eula .paragraph .item {
            counter-increment: counter;
            display: block;
            padding-bottom:0.5em;
        }

            .eula .paragraph .item:before {
                content: counters(counter, ".") ".";
            }*/


    .eula ol {
        padding-left: 0;
        counter-reset: counter;
        list-style: none;
    }

    .eula ul {
        list-style: none;
    }

        .eula ul > li:before {
            content: "—";
        }


    /*.eula ol > li {
            font-size: 1.3em;
            font-weight: bold;
        }

        .eula ol ol > li {
            font-size: 14px;
            font-weight: normal;
        }*/


    .eula ol > li {
        padding-bottom: 0.5em;
        counter-increment: counter;
    }

        .eula ol > li > .paragraph:before,
        .eula ol > li.sub:before {
            content: counters(counter, ".") ". ";
        }

.error-cafes {
    margin: 0 35px;
}

.category {
    margin-left: 0;
    margin-right: 0;
}

    .category:before {
        display: block;
        content: " ";
        height: 100px; /* Give height of your fixed element */
        margin-top: -100px; /* Give negative margin of your fixed element */
        visibility: hidden;
    }

    .category .category-title {
        margin-left: 7.5px;
        margin-right: 7.5px;
        color: currentColor;
        display: inline-block;
        width: 100%;
    }

        .category .category-title h3 {
            margin: 0.25em 0;
        }

.category-nav .nav > li > a {
    margin: 0.5em;
}

    .category-nav .nav > li > a:hover,
    .category-nav .nav > li > a:focus {
        background-color: #719b0b;
        border-color: #719b0b;
    }

.category-nav.panel,
.category .panel {
    background-color: rgba(245, 245, 247, 0.7);
    margin-bottom: 1em;
}

.category .panel-heading {
    padding: 0;
}

.category-nav .panel-body {
    padding: 0;
}

.category .panel-body {
    padding: 0.5em;
}

.category hr {
    clear: both;
    height: 3px;
    border: 0 none;
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2) inset;
    margin: 7px 0 0;
}



/*#region Cards */

.card {
    position: relative;
    background-color: #fff;
    margin: 0.5em;
    border: 1px solid #dde0df;
}

    .card.transparent,
    .card.transparent [class*=card-] {
        background-color: transparent;
        border-color: transparent;
    }

    .card .card-body {
        padding: 5px;
    }

    .card.hover:hover > .card-body {
        outline: 4px solid #dde0df;
        height: 100%;
        width: 100%;
    }

    .card .card-image {
        border-bottom: 1px solid #dde0df;
        display: block;
        overflow: hidden;
    }

    .card .card-content {
        padding: 0 5px;
        display: block;
        width: 100%;
    }

    .card .card-caption {
        height: 2em;
        overflow: hidden;
        line-height: 1em;
    }

        .card .card-caption:hover {
            overflow: hidden;
            min-height: 2em;
            height: 4em;
            height: 100%;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

    .card .card-actions {
        position: absolute;
        padding: 0 7px 7px;
        bottom: 0;
        left: 0;
        width: 100%;
    }

        .card .card-actions .btn {
            border-radius: 3px;
            height: 30px;
        }

            .card .card-actions .btn.right {
                float: right;
            }

    .card .card-details {
        position: absolute;
        z-index: 1000;
        width: 562px;
        max-width: 562px;
        background-color: #f0f4f3;
        border: 1px solid #dde0df;
        border-radius: 0;
        outline: 4px solid #dde0df;
        padding: 7.5px;
    }

    .card .badge {
        color: #80b00c;
        background-color: transparent;
    }

    .card .panel {
        margin: 0;
        border-radius: 0;
    }

.cafe {
    float: left;
    width: 170px !important;
    height: 272px !important;
}

    .cafe.is-closed {
        color: gray;
    }

        .cafe.is-closed img {
            -webkit-filter: grayscale(.75);
            filter: grayscale(.75);
        }

        /*.cafe.is-closed .card-body::before {
            font-family: FontAwesome;
            content: "\f05e ";
            position: absolute;
            color: #cc0000;
            font-size: 4em;
            top: 100px;
            left: 60px;
            z-index: 999;
        }*/

        .cafe.is-closed .btn {
            filter: alpha(opacity=40);
            -webkit-box-shadow: none;
            box-shadow: none;
            opacity: .40;
        }

    .cafe .card-actions .btn-default {
        width: 100px;
        padding: 4px 10px;
    }


    /*.cafe-description .card-image,*/
    .dish .card-image,
    .cafe .card-image {
        height: 120px;
    }


.dish {
    float: left;
    width: 170px !important;
    height: 340px !important;
}

    .dish.minimal {
        width: 170px !important;
        height: 210px !important;
    }

.minimal .card-content {
    position: absolute;
    bottom: 84px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    width: 158px !important;
}

    .minimal .card-content:hover {
        white-space: normal;
    }

.cafe .card-image.default-img,
.dish .card-image.default-img,
.cart-item .card-image.default-img {
    background-image: url(../Image/default.png);
    background-position: center center;
    background-size: contain;
}

.dish .card-actions .btn-default {
    float: right;
    width: 100px;
}

.dish .card-actions span {
    color: #80B00C;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.dish .discount-corner {
    /*width: 0;
    height: 0;*/
    position: absolute;
    right: 0;
    top: 0;
    border-top: solid 30px #80b00c;
    border-right: solid 30px #80b00c;
    border-bottom: solid 30px transparent;
    border-left: solid 30px transparent;
}

    .dish .discount-corner .discount {
        color: #fff;
        font-weight: bold;
        position: absolute;
        right: -31px;
        top: -31px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

.cart-item .card-image {
    width: 246px;
    height: 194px;
    border: none;
    float: left;
}

.cart-item .card-content {
    display: block;
    overflow: hidden;
    width: auto;
    height: 194px !important;
}

    .cart-item .card-content .description,
    .cart-item .card-content .totals {
        height: 50%;
        width: 50%;
        display: inline-block;
        float: left;
    }

        .cart-item .card-content .totals p {
            color: #80b00c;
        }

    .cart-item .card-content .comment {
        height: 50%;
    }

        .cart-item .card-content .comment textarea {
            height: 100%;
            resize: none;
        }

.cart-item .card-details {
    position: inherit;
    border: none;
    background: none;
    outline: none;
}

.cart-item .btn-card-details {
    left: 0;
    bottom: 35px;
    position: relative;
}

/*#endregion */

/*#region Cafe-Ads */

.cafe-ad {
    background-color: white;
    margin: 7px;
    max-height: 220px !important;
    border: 2px solid #dde0df;
    border-radius: 2px;
}

    .cafe-ad > img {
        display: block;
        height: auto;
        max-width: 100%;
        border-bottom: 1px solid #dde0df;
    }

    .cafe-ad .caption {
        color: #333333;
        padding: 9px;
    }

/*#endregion */

/*#region Tags */

.tree {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    /*background-color: #d3d3d3;
    border-radius: 2px;*/
    /*Чтоб никуда не исчезал без контента*/
    min-height: 0.1px;
}

    .tree .tag {
        color: currentColor;
    }

    .tree li .tag {
        padding-left: 2em;
        line-height: 2.5em;
        position: relative;
        display: block;
    }

    .tree li li .tag {
        padding-left: 3em;
    }

    .tree li li li .tag {
        padding-left: 4em;
    }

    .tree li a {
        text-decoration: none;
        color: currentColor;
        width: 100%;
        display: block;
    }

    .tree li .tag-children .tag {
        background: white;
        border-bottom: 1px solid #eaeaea;
    }

    .tree li .tag.active {
        background: #f2bc29;
    }

    .tree li .tag:hover {
        background: #f2a429;
    }

    .tree li .expander {
        color: currentColor;
        font-weight: bold;
    }

        .tree li .expander.collapsed {
            font-weight: normal;
        }

        .tree li .expander::before {
            left: 1em;
            position: absolute;
            font-family: FontAwesome;
            content: "\f078 ";
        }

    .tree li li .expander::before {
        left: 2em;
    }

    .tree li .expander.collapsed::before {
        content: "\f054 ";
    }

.fa-expander::before {
    content: "\f102";
}

/*h3.collapsed .fa-expander::before,
h4.collapsed .fa-expander::before,*/
a.collapsed .fa-expander::before {
    content: "\f103";
}

.btn-tag-select {
    background: transparent;
    border: none;
    border-radius: 0;
    text-align: justify;
    white-space: normal;
}

    .btn-tag-select:hover {
        color: currentColor;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn-tag-select.active {
        background: #f2bc29;
        color: currentColor;
        font-weight: bold;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn-tag-select input[type="checkbox"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }

/*#endregion */

.tab-content {
    padding: 15px 0;
    unicode-bidi: bidi-override;
    direction: rtl;
}

/*#region Cart */

.navbar-cart {
    padding: 0 15px;
    margin-top: 15px;
    background-color: none;
    color: white;
    width: 150px;
}

    .navbar-cart .row {
        min-height: 1.5em;
    }

    .navbar-cart .cart-title {
        color: #80b00c;
    }

    .navbar-cart .btn-link {
        padding: 0;
        margin: 0;
    }

.navbar .navbar-cart > a,
.navbar .navbar-cart > a:focus,
.navbar .navbar-cart > a:active {
    font-size: 14px;
    text-align: left;
    color: #fff;
    line-height: 1.3;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
}

    .navbar .navbar-cart > a:hover {
        text-align: left;
        color: #fff;
        background-color: transparent;
    }

.cart-wrapper {
    max-height: 64.5vh;
    overflow-y: auto;
}

.cart-item {
    margin: 7.5px;
    padding: 4px;
    overflow: hidden;
}

    .cart-item input[type=number],
    .cart-item input[type=text] {
        text-align: center;
    }

    .cart-item .input-group {
        width: 134px;
    }

    .cart-item .btn-minus {
        background-color: #f2bc29;
        color: white;
        border-color: #f2bc29;
    }

    .cart-item .btn-plus {
        color: #fff;
        background-color: #80b00c;
        border-color: #80b00c;
    }

    .cart-item .btn-remove {
        float: left;
        color: #df5963;
        font-weight: bold;
        line-height: 0.5;
        font-size: 1.5em;
    }

    .cart-item .totalprice {
        padding: 7px 0;
    }

    .cart-item .btn-remove.right {
        float: right;
        top: 0;
        right: 0;
    }

.delivery-info {
    margin: 7.5px;
}

    .delivery-info textarea {
        resize: none;
    }

    .delivery-info .btn[disabled] {
        pointer-events: none;
    }

/*#endregion */

.wip {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    text-align: center;
    position: absolute;
}

    .wip i {
        top: 50%;
        left: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
    }

/*#region rating */

.rating {
    line-height: 1em;
    margin-bottom: 5px;
}

    .rating form {
        /*unicode-bidi: bidi-override;
        direction: rtl;*/
        float: left;
    }

    .rating .average {
        padding-left: 5px;
        color: #80b00c;
    }

    .rating .rating-comment {
        font-size: x-small;
        color: #999;
        margin: 0;
    }

    .rating input {
        display: none;
    }

    .rating label {
        font-family: FontAwesome;
        font-size: medium;
        font-weight: normal;
        font-style: normal;
        cursor: pointer;
        float: right;
    }

        .rating label:before {
            content: "\f006";
            color: #777777;
        }

        .rating label.half:before {
            content: "\f123";
            color: #f2a429;
        }



    .rating input:checked + label:before,
    .rating input:checked ~ label:before {
        content: "\f005";
        color: #f2bc29;
    }

    .rating input + label:hover:before,
    .rating input + label:hover ~ label:before {
        content: "\f005";
        color: #f2a429;
    }

/*#endregion */

/*#region Tables */

#available-dishes .name,
#schedule-dishes .name {
    order: 1;
    max-height: 4em;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#available-dishes .price,
#schedule-dishes .price {
    text-align: center;
    order: 2;
}

    #available-dishes .price input {
        pointer-events: none;
        cursor: not-allowed;
        color: grey;
        background: #F5F5F5;
    }

#available-dishes .remove-action {
    order: 0;
    display: none;
    pointer-events: none;
    cursor: not-allowed;
}

#available-dishes .add-action {
    order: 3;
}

#schedule-dishes .add-action {
    order: 3;
    display: none;
    pointer-events: none;
    cursor: not-allowed;
}


#category-table {
    margin: 10px 122px;
    width: 570px;
}

    #category-table a {
        color: #80b00c;
    }

    #category-table th {
        background-color: #FFFFFF;
    }

    #category-table td {
        background-color: #FFFFFF;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

        #category-table td:hover {
            background-color: #F5F5F7;
        }
/*#endregion */

.cafeInfo {
    color: rgb(25, 25, 25);
    /*font-family: 'Roboto Condensed';*/
}

    .cafeInfo .control-label {
        text-align: left;
    }

/*#region ORDERS */
.order {
    border: 2px solid #6f9b05;
}

.order-title {
    background-color: #6f9b05;
    clear: both;
    color: #ffffff;
    overflow: hidden;
    padding: 8px 16px;
}

    .order-title > div:first-child {
        float: left;
    }

    .order-title > div {
        float: right;
    }

        .order-title > div > div {
            float: left;
            margin: 0px 32px 0px 0px;
        }

            .order-title > div > div:last-child {
                margin: 0px 50px 0px 0px;
            }

.order-content {
    padding: 16px;
}

    .order-content .order {
        border: 2px solid #80b00c;
    }

    .order-content .order-title {
        background-color: #80b00c;
    }

        .order-content .order-title > div > div:last-child {
            margin: 0px 32px 0px 0px;
        }

.order + .order {
    margin: 16px 0px 0px 0px;
}

.order-filter {
    margin: 0px 0px 16px 0px;
}

    .order-filter > div {
        clear: both;
        overflow: hidden;
    }

        .order-filter > div:first-child > div:first-child {
            float: right;
        }

        .order-filter > div:first-child > div:last-child {
            float: none;
            padding: 8px 266px 8px 8px;
            width: 100%;
        }

            .order-filter > div:first-child > div:last-child input {
                width: 100%;
            }

        .order-filter > div > div {
            height: auto;
            float: left;
            padding: 8px;
        }
/*#endregion */

.popover {
    max-width: 570px !important;
    width: 570px !important;
    white-space: pre-line;
}

#object-tags {
    margin-top: 44px;
}

#objectGrid a {
    display: block;
    text-decoration: none;
}

.card.cafe-description {
    margin: 0;
}

.cafe-description .card-header {
    color: currentColor;
}

    .cafe-description .card-header h4 {
        margin: 0;
    }


    .cafe-description .card-header .short-info ul {
        margin-bottom: 0;
    }

    .cafe-description .card-header:not(.collapsed) .short-info {
        display: none;
    }

.cafe-description hr {
    margin: 0 0 5px;
}

.nav-tabs > li.active > a {
    pointer-events: none;
}

.cafe-description .cafe-time {
    margin-top: 100px;
    margin-bottom: 40px;
}

.cafe-description ul {
    list-style: none;
    padding-left: 10px;
}

.cafe-description .card-image {
    border-bottom: none;
}

.sort-handle {
    cursor: move;
}

.selectable .ui-selected {
    background-color: #f2bc29 !important;
}

.list-group-item .badge {
    background-color: #f2bc29;
    color: currentColor;
    font-weight: normal;
}

.order-comment {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.comment-cell {
    position: relative;
}

    .comment-cell span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

.dl-horizontal dt {
    text-align: left;
    width: 25%;
}

.dl-horizontal dd {
    text-align: left;
    width: 75%;
}

.dl-striped dd:nth-of-type(odd),
.dl-striped dt:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.highlight {
    background-color: lightsalmon !important;
}

.multiline {
    white-space: pre-line;
}

.order-totals {
    padding: 0 0.5em;
    font-size: 1.5em;
}

#inactive-categories .panel .panel-heading h4 a {
    pointer-events: none;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    line-height: 36px;
    color: #FFFFFF;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #80b00c 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.wrap-word-td {
    word-break: break-all;
}

.save-price {
    cursor: pointer;
}

.dropdown-menu > li > a:hover {
    background-color: #f2bc29;
}

.input-group.date span {
    cursor: pointer;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover {
    background-color: #80b00c;
}

#manager-menu li.menu-dish .row {
    display: flex;
    align-items: center;
}

.menu-action {
    position: absolute;
    top: -500px;
    left: -500px;
}

.edit-dish .img-responsive {
    height: 145px;
    width: 169px;
}

.col-xs-2.control-label {
    padding-right: 0.5em;
}
