.label-default {
  background-color: #80b00c;
  font-weight: normal;
}
#user-companies {
  padding: 0;
  list-style: none;
}
#user-companies .label-default {
  font-size: inherit;
  border-radius: 0;
}
#user-companies .user-company {
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
#user-companies .user-company-action {
  padding-left: 0;
}
#user-companies .user-company-action a {
  color: #FFF;
}
#user-companies .user-company-action a:hover,
#user-companies .user-company-action a:link,
#user-companies .user-company-action a:focus {
  color: #fFF;
}
#user-discounts .user-discount {
  cursor: pointer;
}
table.dataTable.display tbody .selected {
  background-color: #80b00c !important;
  color: white;
}
table.dataTable.display tbody .selected:hover {
  background-color: #80b00c !important;
}
table.dataTable.display tbody .selected > .sorting_1 {
  background-color: #80b00c !important;
}