<div id="curator-menu" class="btn-group">
    <a href="#" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Куратор
    </a>
    <ul class="dropdown-menu">
        <li role="presentation">
            <a asp-controller="Reports" asp-action="Index">Отчеты</a>
        </li>
        <li role="presentation">
            <a asp-controller="Schedules" asp-action="Index">Расписания</a>
        </li>
        <li role="presentation">
            <a asp-controller="FileReport" asp-action="Index">Файл отчета</a>
        </li>
        <li role="presentation">
            <a asp-controller="Notification" asp-action="Index">Оповещения</a>
        </li>
        <li role="presentation">
            <a asp-controller="CompanyOrders" asp-action="Index">Корпоративные заказы</a>
        </li>
    </ul>
</div>
