@using ITWebNet.Food.Core.DataContracts.Admin
@using ITWebNet.Food.Site.Areas.Administrator.Models
@model IEnumerable<UserWithLoginModel>
@{
    ViewBag.Title = "Пользователи";
}

<div class="content main full-width">
    <div class="card">
        <div class="card-body">
            <div class="card-content">
                @await Html.PartialAsync("_List", Model)
            </div>
        </div>
    </div>
</div>

@section adminStyles {
    @await Html.PartialAsync("~/Areas/Administrator/Views/Styles/user-styles.cshtml")
    @await Html.PartialAsync("~/Areas/Administrator/Views/Styles/datatablesBootstrap.cshtml")
    @await Html.PartialAsync("~/Areas/Administrator/Views/Styles/datatablesButtons.cshtml")
    @await Html.PartialAsync("~/Areas/Administrator/Views/Styles/datatablesSelect.cshtml")
}

@section modals
{
    @await Html.PartialAsync("_UserDetails", new EditUserViewModel())
}
@section scripts
{
    @await Html.PartialAsync("~/Areas/Administrator/Views/Scripts/datatables.cshtml")
    @await Html.PartialAsync("~/Areas/Administrator/Views/Scripts/user-scripts.cshtml")
}
