<li>
  <h4 class="paragraph">Конфиденциальность</h4>
  <ol>
    <li class="sub">
      Персональные данные Пользователя обрабатываются в соответствии с ФЗ «О персональных данных» №152-ФЗ и Положением о защите персональных данных Клиентов Сервиса.
    </li>
    <li class="sub">
      При регистрации на Сайте, Пользователь предоставляет следующую информацию: Имя, адрес электронной почты, номер контактного телефон, адрес доставки товара.
    </li>
    <li class="sub">
      Предоставляя свои персональные данные при регистрации/оформлении заказа на Сайте, Пользователь соглашается на их обработку Сервисом Едовоз, в том числе и в целях выполнения Сервисом Едовоз обязательств перед Пользователем в рамках настоящего Пользовательского соглашения, информирования Пользователей о своих услугах, продвижения Сервисом Едовоз товаров и услуг, проведения электронных и sms опросов, контроля маркетинговых акций, клиентской поддержки, организации доставки товара Пользователям, проведение розыгрышей призов среди Пользователей, контроля удовлетворенности Пользователя, а также качества услуг, оказываемых службами доставки. Не считается нарушением предоставление Сервисом Едовоз информации партнерам, агентам и третьим лицам, действующим на основании договора с Сервисом Едовоз, для исполнения обязательств перед Пользователем.
    </li>
    <li class="sub">
      Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам, не исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.
    </li>
    <li class="sub">
      Сервис Едовоз имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту и мобильный телефон Пользователя с его согласия. Пользователь вправе отказаться от получения рекламной и другой информации без объяснения причин отказа. Сервисные сообщения, информирующие Пользователя о заказе и этапах его обработки, отправляются автоматически и не могут быть отклонены Пользователем.
      Отзыв согласия на обработку персональных данных осуществляется путем отправки сообщения на адрес <a href="mailto:support@edovoz.com">support@edovoz.com</a> или путём редактирования личных данных Пользователя.
    </li>
    <li class="sub">
      Сервис Едовоз вправе использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию, и Сервис Едовоз вправе передавать информацию о «cookies» Партнерам, агентам и третьим лицам, имеющим заключенные с Сервисом Едовоз договоры, для исполнения обязательств перед Пользователем и для целей статистики и оптимизации рекламных сообщений.
    </li>
    <li class="sub">
      Сервис Едовоз получает информацию об ip-адресе посетителя Сайта <a href="/">@ViewContext.HttpContext.Request.Host</a>. Данная информация не используется для установления личности посетителя.
    </li>
    <li class="sub">
      Сервис Едовоз не несет ответственности за сведения, предоставленные Пользователем на Сайте в общедоступной форме.
    </li>
    <li class="sub">
      Сервис Едовоз вправе осуществлять записи телефонных разговоров с Пользователем. При этом Сервис Едовоз обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и/или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению заказов в соответствие с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и защите информации».
    </li>
  </ol>
</li>

