<li>
  <h4 class="paragraph">Заключительные положения</h4>
  <ol>
    <li class="sub">
      Настоящее Соглашение регулируется и толкуется в соответствии с законодательством РФ.
    </li>
    <li class="sub">
      В случае возникновения любых споров или разногласий, связанных с исполнением настоящего Соглашения, Пользователь и Сервис Едовоз приложат все усилия для их разрешения путем проведения переговоров между ними. В случае если споры не будут разрешены путем переговоров, то споры подлежат рассмотрению, согласно действующему российскому законодательству.
    </li>
    <li class="sub">
      Ничто в Соглашении не может пониматься как установление между Пользователем и Сервисом Едовоз агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо иных отношений, прямо непредусмотренных в настоящем Соглашении.
    </li>
    <li class="sub">
      Ввиду безвозмездности Сервиса Едовоз для Пользователя, нормы о защите прав потребителей не применимы.
    </li>
    <li class="sub">
      Бездействие со стороны Сервиса Едовоз, в случае нарушения Пользователем либо иными третьими лицами положений настоящего Соглашения, не лишает Сервис Едовоз права предпринять соответствующие действия в защиту своих интересов.
    </li>
  </ol>
</li>

