<li>
    <h4 class="paragraph">Общие положения</h4>
    <ol>
        <li class="sub">
            Настоящее Пользовательское соглашение (именуемое в дальнейшем «Соглашение») регулирует порядок и отношения по получению товаров и услуг с помощью сервиса «Едовоз» (именуемым в дальнейшем «Сервис Едовоз») в сети Интернет между организацией общественного питания, зарегистрированной на Сервисе Едовоз (именуемой в дальнейшем «Поставщик»), и физическим или юридическим лицом (именуемым в дальнейшем «Пользователь»).
        </li>
        <li class="sub">
            Настоящее Соглашение приравнивается к договору, составленному в письменной форме, и вступает в силу, и регулирует порядок использования услуг Сервиса Едовоз с момента выражения Пользователем согласия с его условиями путем регистрации на сайте <a href="/">@Context.Request.Host</a> (именуемым в дальнейшем “Сайт”) или путем оформления Заказа Пользователем без авторизации на сайте.
        </li>
    </ol>
</li>

