<li>
  <h4 class="paragraph">Условия использования материалов, размещенных на Сервисе</h4>
  <ol>
    <li class="sub">
      Сайт содержит материалы, охраняемые авторским правом, товарные знаки и иные охраняемые законом материалы, включая, но не ограничиваясь: тексты, фотографии, графические изображения.
    </li>
    <li class="sub">
      При этом все содержание Сайта охраняется авторским правом как произведение, созданное коллективным творческим трудом в соответствии с законодательством Российской Федерации об авторском праве и смежных правах.
    </li>
    <li class="sub">
      Сервису Едовоз принадлежит авторское право на использование содержания Сайта (в том числе, право на подбор, расположение, систематизацию и преобразование данных, содержащихся на Сайте, а также на сами исходные данные), кроме случаев, отдельно отмеченных в содержании опубликованных на сайте материалов.
    </li>
    <li class="sub">
      Пользователь не имеет права вносить изменения, публиковать, передавать третьим лицам, участвовать в продаже или уступке, создавать производные продукты или иным образом использовать, частично или полностью, содержание Сайта.
    </li>
    <li class="sub">
      Пользователь Сети обязуется использовать Сайт только в законных целях.
    </li>
    <li class="sub">
      Пользователь Сети обязуется не размещать на Сайте и не направлять куда-либо через/посредством Сайта любые материалы следующего характера:
      <ul>
        <li>
          нарушающие законодательство, содержащие угрозы и оскорбления, дискредитирующие других лиц, нарушающие права граждан на частную жизнь или публичный порядок, носящие характер непристойности;
        </li>
        <li>
          нарушающие в той или иной степени честь и достоинство, права и охраняемые законом интересы других лиц;
        </li>
        <li>
          способствующие или содержащие призывы к разжиганию религиозной, расовой или межнациональной розни, содержащие попытки разжигания вражды или призывы к насилию;
        </li>
        <li>
          а также иные материалы, которые побуждают других лиц на противоправное поведение, влекущее уголовную, гражданско-правовую и иную ответственность или каким-либо образом нарушающее положения законодательства.
        </li>
      </ul>
    </li>
    <li class="sub">
      Пользователь обязуется не размещать на Сервисе Едовоз и не направлять через/посредством сайта материалы, являющиеся рекламой каких-либо товаров или услуг, без получения предварительного выраженного согласия Сервиса.
    </li>
    <li class="sub">
      Пользователь обязуется не использовать Сервис Едовоз для рекламы или иного стимулирования сбыта любых товаров и услуг в любой форме, включая, но не ограничиваясь, стимулирование пользователей к подписке на другую систему интерактивного обслуживания, являющуюся конкурентом Сервис Едовоз.
    </li>
    <li class="sub">
      Пользователь обязуется не загружать, размещать или иным образом использовать на сайте какие-либо материалы, охраняемые законодательством об интеллектуальной собственности (в том числе, авторским правом, законодательством о товарных знаках), и иные охраняемые законодательством материалы без получения выраженного разрешения обладателя прав на охраняемый материал. При этом бремя доказывания того, что размещение на сайте пользователем материалов не нарушает авторские, смежные и иные права третьих лиц на размещаемые материалы, а также ответственность незаконное размещение лежит на Пользователе.
    </li>
    <li class="sub">
      Сервис Едовоз не несет ответственность за отзывы, опубликованные Пользователем.
    </li>
    <li class="sub">
      Сервис Едовоз оставляет за собой право размещать комментарии к отзыву Пользователя. Сервис Едовоз оставляет за собой право не размещать и удалять отзывы Пользователя, нарушающие российское законодательство и наносящие ущерб законным интересам третьих лиц.
    </li>
  </ol>
</li>

