<li>
  <h4 class="paragraph">Регистрация пользователя</h4>
  <ol>
    <li class="sub">
      Сервис Едовоз является единой информационной системой заказов, которая предлагает пользователям возможность для поиска и заказа блюд и напитков (именуемые в дальнейшем «Услуги»), реализуемых Поставщиками, а также принимает от Пользователей денежные средства в счет оплаты заказов. Обязательства по реализации продуктов, согласно условиям оформленного заказа Пользователя, возникают непосредственно у Поставщика.
    </li>
    <li class="sub">
      Регистрация Пользователя на Сервисе Едовоз является добровольной и бесплатной.
    </li>
    <li class="sub">
      Для того чтобы воспользоваться услугами Сервиса Едовоз, Пользователю необходимо предоставить достоверную, точную и полную информацию о себе (Ф.И.О, адрес электронной почты) по вопросам, предлагаемым в форме регистрации. Согласие Пользователя с условиями Соглашения выражается в форме отметки флажка «Я принимаю условия Соглашения» на странице регистрации пользователя.
    </li>
    <li class="sub">
      По завершении процесса регистрации Пользователь получает по электронной почте, указанной при регистрации, логин и пароль для доступа в личный кабинет на Сервисе Едовоз.
    </li>
    <li class="sub">
      Если Пользователь предоставляет неверную информацию или у Сервиса имеются основания полагать, что предоставленная Пользователем информация неверна, неполна или неточна, то Сервис имеет право приостановить или отменить регистрацию Пользователя и отказать ему в пользовании Сервисом.
    </li>
    <li class="sub">
      Пользователь несет персональную ответственность за сохранность и безопасность своего пароля и логина.
    </li>
    <li class="sub">
      Сервис не несет ответственности и не гарантирует безопасность созданной учетной записи Пользователя в случаях: передачи третьим лицам (умышленно или по неосторожности) пароля и логина; доступа третьих лиц к учетной записи Пользователя с использованием программных средств, позволяющих осуществить подбор и/или раскодирование пароля и логина; доступа третьих лиц к учетной записи Пользователя путем простого подбора пароля и логина; невыполнение Пользователем рекомендаций, указанных в настоящем Соглашении.
      Сервис не отвечает за возможные потери, порчу имущества либо другие потери или финансовые претензии, которые могут произойти из-за нарушения Пользователя положений этой части Соглашения. Сервис гарантирует соблюдение режима конфиденциальности в отношении сведений, предоставленных Пользователем при заполнении регистрационной формы.
    </li>
    <li class="sub">
      По запросу суда и правоохранительных органов, Сервис имеет право предоставить необходимую информацию о Пользователе.
    </li>
  </ol>
</li>

