<li>
  <h4 class="paragraph">Ответственность</h4>
  <ol>
    <li class="sub">
      Сервис Едовоз является единой информационной системой заказов, которая предлагает пользователям возможность для поиска и заказа блюд и напитков (именуемые в дальнейшем «Услуги»), реализуемых Поставщиками, а также принимает от Пользователей денежные средства в счет оплаты заказов. Обязательства по реализации продуктов, согласно условиям оформленного заказа Пользователя, возникают непосредственно у Поставщика.
    </li>
    <li class="sub">
      Сервис Едовоз не гарантирует, что информация будет соответствовать требованиям Пользователя; будет предоставляться непрерывно, быстро, надежно и без ошибок; результаты, которые могут быть получены Пользователем, будут точными и надежными; качество какого-либо продукта, услуги, информации и прочего, полученного с использованием Сервиса Едовоз, будут соответствовать ожиданиям Пользователя.
    </li>
    <li class="sub">
      Сервис сохраняет за собой право в любое время изменять оформление сайта, его содержание, список сервисов, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на сайте, в любое время с предварительным уведомлением или без такового.
    </li>
    <li class="sub">
      Сервис Едовоз не несет ответственности за любые прямые либо косвенные убытки, произошедшие из-за использования либо невозможности использования информации на сайте; из-за несанкционированного доступа к коммуникациям Пользователя; из-за мошеннической деятельности третьих лиц в корыстных целях.
    </li>
    <li class="sub">
      Сервис Едовоз не несет ответственности за качество блюд, представленные Рестораном, в частности в случае искажения изображения или сопроводительной надписи.
    </li>
    <li class="sub">
      Сервис Едовоз не несет ответственности за содержание на информационные и графические материалы, размещаемые Поставщиками на Сервисе.
    </li>
    <li class="sub">
      Сервис Едовоз является лишь информационным связующим звеном между Пользователем и службами доставки Поставщиков, информация о которых размещена на Сервисе.
    </li>
    <li class="sub">
      Сервис не несет ответственности за любой ущерб компьютеру Пользователя или иного лица, мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный с размещенной информацией на Сервисе.
    </li>
  </ol>
</li>

