<li>
  <h4 class="paragraph">Права и обязанности сторон</h4>
  <ol>
    <li>
      <h5 class="paragraph">Обязанности Пользователя</h5>
      <ol>
        <li class="sub">
          При работе с Сервисом Едовоз и в процессе получения Услуг, Пользователь принимает на себя обязательства:
          <ul>
            <li>
              Пользоваться услугами Сервиса Едовоз добросовестно, не направлять запросы в адрес Сервиса Едовоз, которые не будут в дальнейшем исполняться;
            </li>
            <li>
              Не осуществлять противоправных действий по несанкционированному доступу к программному обеспечению и базе данных Сервиса Едовоз, а также не осуществлять иные действия, которые могут повлечь за собой сбой в работе сервиса;
            </li>
            <li>
              Не размещать ссылки на Сервисе Едовоз, содержание которых противоречат действующему законодательству РФ;
            </li>
            <li>
              Не использовать загрузки, отправки, передачи или любого другого способа опубликования каких-либо материалов, содержащих вирусы или другие компьютерные коды, файлы или программы, предназначенные для нарушения, уничтожения либо ограничения функциональности Сервиса Едовоз;
            </li>
            <li>
              Никакие материалы не могут быть скопированы (воспроизведены), переработаны, распространены, отображены, опубликованы, скачаны, переданы, проданы или иным способом использованы целиком или по частям.
            </li>
          </ul>
        </li>
        <li class="sub">
          Пользователь обязан немедленно уведомить Сервис Едовоз о любом случае неавторизованного (неразрешенного) доступа со своим логином и паролем к Сервису Едовоз и/или о любом нарушении безопасности.
        </li>
        <li class="sub">
          Пользователь обязан самостоятельно оценивать содержание информации и материалов, размещаемых на Сервисе Едовоз, на соответствие требованиям действующего законодательства Российской Федерации и п.4.1.1 настоящего Соглашения.
        </li>
        <li class="sub">
          Пользователь обязан в полном объеме оплатить стоимость сформированного заказа и его доставку по указанному им адресу.
        </li>
        <li class="sub">
          Если пользователь отменяет заказ после согласования с Сервисом Едовоз и Поставщиком, он обязуется возместить все понесенные Сервисом Едовоз и Поставщиком расходы на момент отмены заказа в полном объеме.
        </li>
        <li class="sub">
          Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие пользователем условий настоящего Соглашения.
        </li>
        <li class="sub">
          Пользователь сети Интернет обязуется использовать Сервис Едовоз только в законных целях.
        </li>
      </ol>
    </li>
    <li>
      <h5 class="paragraph">
        При работе с Сервисом Едовоз и в процессе получения Услуг, Пользователь имеет следующие права:
      </h5>
      <ol>
        <li class="sub">
          Отменить произведенный заказ, но только после того, как Поставщик свяжется с Пользователем.
        </li>
        <li class="sub">
          Просматривать представленную на Сервисе Едовоз информацию и заказывать по своему усмотрению любой товар и (или) услугу на Сервисе Едовоз.
        </li>
        <li class="sub">
          В любое время обращаться в адрес администрации Сервиса Едовоз с предложениями, пожеланиями, претензиями.
        </li>
        <li class="sub">
          Участвовать в проводимых на Сервисе Едовоз акциях, конкурсах, иных мероприятиях, проводимых Сервисом Едовоз и его партнерами, а также получать скидки, бонусы, иные преимущества перед другими Пользователями, но в том случае если таковые будут предложены Сервисом Едовоз.
        </li>
      </ol>
    </li>
    <li>
      <h5 class="paragraph">
        Обязанности Сервиса Едовоз:
      </h5>
      <ol>
        <li class="sub">
          После выполнения всех последовательных регистрационных действий на Сервисе Едовоз, последний обязуется создать персональную учетную запись Пользователя.
        </li>
      </ol>
    </li>

    <li>
      <h5 class="paragraph">
        Права Сервиса Едовоз:
      </h5>
      <ol>
        <li class="sub">
          Отвечать на предложения и претензии, поступающие от физических и юридических лиц, в отношении Сервиса Едовоз.
        </li>
        <li class="sub">
          Использовать идентификационные данные Пользователя для проведения собственных рекламных кампаний, в том числе смс и e-mail рассылок, а также других способов информирования Пользователя о проводимых мероприятиях в рамках работы Сервиса Едовоз.
        </li>
        <li class="sub">
          Приостановить либо отменить регистрацию Пользователя и отказать ему в использовании возможностей Сервиса Едовоз в случае нарушения Пользователем условий настоящего Соглашения.
        </li>
        <li class="sub">
          Удалить или приостановить учетную запись Пользователя к Сервису Едовоз до выяснения обстоятельств нарушения и урегулирования Пользователем споров с Сервисом Едовоз или третьими лицами в отношении нарушения п.4.1 настоящего Соглашения.
        </li>
      </ol>
    </li>
    <li class="sub">
      Услуги Сервиса Едовоз носят информационный характер и оказываются Пользователю безвозмездно.
    </li>
  </ol>
</li>

