<li>
  <h4 class="paragraph">Описание услуг</h4>
  <ol>
    <li class="sub">
      Сервис Едовоз является единой информационной системой заказов, которая предлагает пользователям возможность для поиска и заказа блюд и напитков (именуемые в дальнейшем «Услуги»), реализуемых Поставщиками, а также принимает от Пользователей денежные средства в счет оплаты заказов. Обязательства по реализации продуктов, согласно условиям оформленного заказа Пользователя, возникают непосредственно у Поставщика.
    </li>
    <li class="sub">
      Услуги Сервиса Едовоз носят информационный характер и оказываются Пользователю безвозмездно.
    </li>
    <li class="sub">
      Пользователь соглашается с тем, что все услуги предоставляются «как есть», и что Сервис Едовоз не несет ответственности за качество поставляемых продуктов, за задержки, сбои, неверную или несвоевременную доставку, удаление или несохранность какой-либо пользовательской персональной информации, а также за сбои в работе платежных систем.
    </li>
    <li class="sub">
      Для того чтобы воспользоваться услугами службами Сервиса Едовоз, необходимо иметь компьютер и доступ в Интернет (WWW).
    </li>
    <li class="sub">
      Пользователь самостоятельно оформляет Заказ на Сайте <a href="/">@ViewContext.HttpContext.Request.Host</a>
    </li>
    <li class="sub">
      В случае отказа Пользователя от Заказа, либо в случае нарушения Партнерами Сервиса Едовоз условий реализации продукции, в том числе, но не ограничиваясь: в случае одностороннего отказа от реализации продукции, нарушения срока доставки или несоответствия качества продукции и т.п., Пользователь обязан в течение 24 часов с момента наступления времени доставки/получения заказа сообщить Сервису Едовоз по e-mail адресу <a href="mailto:support@edovoz.com">support@edovoz.com</a> о своём отказе от Заказа, предоставить документы, подтверждающие оплату заказа, и потребовать вернуть уплаченные денежные средства.
      Возврат денежных средств в течение 2 (двух) дней с момента оплаты заказа производит Сервис Едовоз.
      По истечении 2 (двух) дней и в случае неполучения Сервисом Едовоз уведомления от Пользователя об отказе от заказа и возврате денежных средств, заказ считается выполненным, денежные средства за него возврату не подлежат.
      Возврат денежных средств, оплаченных Пользователем через Сайт банковской картой, осуществляется только на ту карту, с которой была произведена оплата.
    </li>
    <li class="sub">
      Сервис Едовоз имеет право отказать Пользователю в оформлении Заказа с формой оплаты "наличными или картой курьеру", если ранее оформленные Заказы Пользователя не были доставлены по его вине. Например, если Пользователь не открыл дверь, или не ответил по телефону курьеру при доставке Заказа, или Пользователь указал несуществующий адрес доставки, и т.п.
    </li>
  </ol>
</li>

