<li>
  <h4 class="paragraph">Предмет пользовательского соглашения</h4>
  <ol>
    <li class="sub">
      Предметом настоящего Соглашения является предоставление Пользователю услуг по поиску и заказу готовых блюд и напитков.
    </li>
    <li class="sub">
      Пользовательское соглашение регулирует порядок использования услуг Сервиса. Положения настоящего Пользовательского соглашения являются обязательными для всех Пользователей, пользующимися услугами сервиса Едовоз.
    </li>
    <li class="sub">
      Соглашение может быть изменено и (или) дополнено Сервисом в одностороннем порядке без какого-либо специального уведомления. Соглашение является открытым и общедоступным документом. Новая редакция Соглашения вступает в силу по истечении 3 (трех) дней с момента ее размещения на сайте <a href="/">@ViewContext.HttpContext.Request.Host</a>, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция Соглашения располагается на странице по <a href="/info/agreement">адресу</a>
    </li>
  </ol>
</li>

