<div class="modal fade" id="deleteCafeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Удаление кафе</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить выбранное кафе?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-url="" data-update-target="" id="approveDeleteCafeBtn" onclick="deleteCafe($(this))" class="btn btn-danger">Да</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>